:root {
    --main-bg-color: #FDFBF7;
    
    --red-color: #AF3743;
    --pink-color: #C58398;
    --black-color: #1E1E1E;
    --greenblue-color: #42615B;
    --gray-color: #595959;
    --pistachio: #C9C786;
    --ssblue: #405A67;
}

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.skip-to-main {
    position: absolute;
    top: -50px;
    left: 0;
    background-color: #15334d;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    transition: top 0.3s ease; 
}

.skip-to-main:focus,
.skip-to-main:active {
    top: 0;
}

html {
    background-color: var(--main-bg-color);
}

.top img {
    max-width: 100%;
    height: auto;
}

/* overview */
    
.overview {
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    gap: 15px;
}
.summary {
    max-width: 500px;
}
.summary h1 {
    color: var(--gray-color);
    font-size: 24px;
    text-align: left;
}
.stuff h2 {
    color: var(--ssblue);
    font-size: 24px;
}
.summary, .stuff p {
    font-family: "marine", sans-serif;
    font-weight: 600;
    color: var(--gray-color);
    font-size: 14px;
}

/* objective */
.objective h2 {
    background-color: #E4DAB7;
    text-align: center;
    color: var(--gray-color);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
}
.objective h3 {
    text-align: center;
    margin-top: 20px;
    font-family: "marine", sans-serif;
    font-weight: 700;
    color: var(--gray-color);
    font-size: 14px;
}
.objective p {
    padding: 10px 20px;
    text-align: center;
    font-family: "marine", sans-serif;
    font-weight: 700;
    color: var(--gray-color);
    font-size: 14px;
}

.research-phase, .design-phase, .guidelines, .implementation-phase, .takeaways, .check {
    padding: 20px 20px;
}
.research-phase h2,
.design-phase h2,
.implementation-phase h2,
.takeaways h2,
.check h2 {
    font-family: "marine", sans-serif;
    font-weight: 700;
    color: var(--gray-color);
    font-size: 24px;
}

.research-phase p,
.design-phase p,
.implementation-phase p,
.list-row p,
.takeaways p {
    font-family: "marine", sans-serif;
    font-weight: 700;
    color: var(--gray-color);
    font-size: 14px;
}

.key-points h2 {
    color: var(--ssblue);
    font-family: "marine", sans-serif;
}

.key-points p {
    padding-bottom: 20px;
}

.list {
    display: grid;
    row-gap: 2.5px;
}

.listrow {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: white;
    border: 1px #282421 solid; 
    padding: 10px 5px;
    justify-content: center;
    align-content: center;
}

.sketch {
    width: 400px;
}

.row {
    display: grid; 
    column-gap: 50px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 20px 30px;
}

@media (min-width: 600px) {
    .overview {
        gap: 60px;
    }

}


@media (min-width: 900px) {
    .top img {
        width: 1430px;
    }
    
    .project-info {
        height: auto;
        width: 100%;
        background-color: var(--main-bg-color);
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
        margin-top: -25px;
        padding-top: 50px;
        padding-bottom: 100px;
        margin-bottom: -100px
    }
    
    /* overview */
    
    .overview {
        display: flex;
        flex-direction: row;
        padding: 50px 200px 50px 200px;
        gap: 100px;
    }
    .summary {
        max-width: 500px;
    }
    .summary h2 {
        color: var(--gray-color);
    }
    .stuff h2 {
        color: var(--ssblue)
    }
    .summary, .stuff p {
        font-family: "marine", sans-serif;
        font-weight: 600;
        color: var(--gray-color);
        font-size: 20px;
    
    }
    
    /* objective */
    .objective h2 {
        background-color: #E4DAB7;
        text-align: center;
        color: var(--gray-color);
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 32px;
    }
    .objective h3 {
        text-align: center;
        margin-top: 20px;
        font-family: "marine", sans-serif;
        font-weight: 700;
        color: var(--gray-color);
        font-size: 16px;
    }
    .objective p{
        padding: 50px 200px 50px 200px;
        text-align: left;
        font-family: "marine", sans-serif;
        font-weight: 700;
        color: var(--gray-color);
        font-size: 18px;
    }
    .objective ul li {
        display: list-item;
        margin-left: 20px;
        list-style-type: disc;
        text-align: center;
        padding-left: 200px;
        padding-right: 200px;
        font-family: "marine", sans-serif;
        font-weight: 700;
        color: var(--gray-color);
        font-size: 16px;
    }
    
    .research-phase, .design-phase, .guidelines, .implementation-phase, .takeaways, .check {
        padding: 50px 100px;
    }
    .research-phase h2,
    .design-phase h2,
    .implementation-phase h2,
    .takeaways h2,
    .check h2 {
        font-family: "marine", sans-serif;
        font-weight: 700;
        color: var(--gray-color);
        font-size: 32px;
    }
    .research-phase p,
    .design-phase p,
    .implementation-phase p,
    .list-row p,
    .takeaways p {
        font-family: "marine", sans-serif;
        font-weight: 700;
        color: var(--gray-color);
        font-size: 18px;
    }
    .design-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px 40px;
        text-align: center;
        justify-items: center;
        align-items: center;
    }
    .design-grid p {
        align-self: start;
    }
    .design-grid img {
        min-width: 100;
        min-height: 100;
    }
    .design-photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px 40px;
    }
    .guidelines h3, .implementation-phase h3 {
        font-family: "marine", sans-serif;
        font-weight: 700;
        color: var(--gray-color);
        font-size: 24px;
    }
    
    .list {
        display: grid;
        row-gap: 2.5px;
    }
    
    .listrow {
        display: grid;
        grid-template-columns: 20% 80%;
        background-color: white;
        border: 1px #282421 solid; 
        padding: 20px 10px;
        justify-content: center;
        align-content: center;
    }
    
    .key-points {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Each div occupies one column */
        gap: 20px; /* Adjust the gap between columns */
    }
    .key-box {
        text-align: center;
    }
    .key-points h2 {
        color: var(--ssblue);
        font-family: "marine", sans-serif;
    }
    
    .design-photos img {
        max-width: 600px;
        max-height: 600px;
        border: 2px solid black;
    }
}
